@font-face {
  font-family: Brother;
  src: url('font/TipoType\ -\ Brother-1816-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: Brother;
  src: url('font/TipoType\ -\ Brother-1816-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Butler;
  src: url('font/Butler_Medium.otf');
  font-weight: 600;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Brother';
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
  /*min-width: 960px;*/
  box-sizing: border-box;
}
p {
  color: #181f26;
}

h1 {
  font-family: 'Butler';
  font-size: 48px;
  line-height: 1;
}

h2 {
  font-family: 'Butler';
  font-size: 24px;
  line-height: 1.2;
}

h3 {
  font-family: 'Butler';
  font-size: 20px;
}

nav {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;
  background: #f5f5f4;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}
nav > a > svg {
  width: 100px;
  height: auto;
  margin: 0 3rem;
}
nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
nav > ul > li {
  margin-right: 3em;
}

ul > li > a {
  text-decoration: none;
  color: #272727;
  
}

ul > li > a:visited {
  color: #272727;
}  /* visited link */

.bigNavCTA {
  background: #c79460;
  padding: 20px 4.5em;
  color: #f5f5f4 !important;
  font-weight: bold;
  margin: 0;
}
.bigNavCTA > a:visited {
  color: #f5f5f4;
}



.coverPage {
  height: 100vh;
  background-image: url('../image/fond-1-min.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.coverGroup {
  max-width: 500px;
  margin: 0 4em;
  padding: 150px 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.coverGroup a {

  padding: 12px 40px;
  background-color: #c79460;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(198, 148, 100, 0.35);
  font-size: 18px;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
}
.coverGroup a:hover {
  box-shadow: 0 1px 2px 0px rgba(198, 148, 100, 0.35);
  transform: translateY(5px);
}

.coverGroup p {
  margin-bottom: 2rem;
}

.wrap-inner {
  max-width: 1024px;
  margin: 1em auto 0 auto;
}

.commandFlex {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}
.commandPath h2{
  max-width: 525px;
}
.commandPath {
  display: flex;

  flex-direction: column;
  margin-top: 4.5em;
}

.commandFlex p {

  max-width: 290px;
}

.commandStep, .deliverStep, .installStep {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.commandStep p, .deliverStep p, .installStep p {
  margin-top: 0;
}
.icoStep { 
  width: 64px;
  height: 132px;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
}


.icoStep svg {
  width: 64px;
  height: auto;
  margin : 0 auto;
}

.pathLine {

    display: inline-block;
    width: 6em;
    height: 0;
    border-bottom: 1px solid #272727;
    margin: 4em 0;
}


.btn-cp {
  margin: 4rem auto 5rem auto;
}

.btnPrim{ 
  padding: 15px 4em;
  margin: 3rem 0;
  text-align: center;
  font-weight: bold;
  background-color: #c79460;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(198, 148, 100, 0.35);
  font-size: 18px;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
  }


.btnPrim:hover {
  box-shadow: 0 1px 2px 0px rgba(59, 44, 30, 0.35);
  transform: translateY(3px);
}

.btnPrim:active {
  background: #A37A52;
} 

.btnAlt{ 
  padding: 15px 4em;
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f4;
  color: #c79460;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  font-size: 18px;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
}

.btnAlt:hover {
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.12);
  transform: translateY(3px);
  }
  

.buyList { 
  background: #f5f5f4;
  width: 100%;
  padding: 3rem 0 6rem 0;
}

.buyListTop {
  display: flex;
  flex-direction: column;
}


/* -------------------- CARD ---------------- */




.cardGroup {
  display: grid;
  grid-gap: 48px;
  grid-template-columns:
  repeat(3, 1fr);
  grid-template-rows: minmax(300px, 2fr);
  justify-items: center;
  overflow-x: scroll;
  position: relative;
  width: 100%;
 
}

.card {
  width: 300px;
  height: 320px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  overflow: hidden;
}
.card img { 
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
}

.card p, .card h3 {
  margin: 0;
  text-align: left !important;
}

.topCard, .botCard {

  margin: 1em 1.5em;
  z-index: 1;
}
.topCard, .topCard p {

  color: #f5f5f4;
}
.headCard {
  font-family: "Brother";
}
.card-label {
  display: inline-block;
  background: #F0563B;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  margin-top: 0.5em !important;
}

.botCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.btl-card p {

  color: #F0563B;
}

.btr-card p {
  color: #f5f5f4;
  text-align: right !important;
}
.spCard-label {
  font-size: 0.8em;
}

.inset-shadow {
  width: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  padding-bottom: 1px;
  z-index: 1;
  height: 90px;
  background: linear-gradient(to bottom, rgba(0,0,0,.7) 0%,rgba(0,0,0,0) 100%);
}
/* -------------------- CARD ---------------- */



.buyListBottom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 96px; 
  position: relative;
}
.bestElement-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

}
.bestElement-bg img {
  width: 100%;
}

.bestElement-topLine p, .bestElement-sndLine p {
  margin: 0;
}
.bestElement-topLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bestElement-sndLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




.be-name {
  font-weight: bold;
}
.be-filters { 
  display: flex;
  flex-direction: row;
  margin:  0 0 1rem 0;
}
.be-label {
  text-align: center;
  font-size: 12px;
  color: #F0563B;
  padding: 0.25em 0.4em;
  border: 1px solid #F0563B;
  border-radius: 4px;
  width: 84px;
  margin-right: 1em;
}
.be-content {
  margin-bottom: 3rem;
}

.idealProfile { 
  padding: 8rem 0;
}

.content-cl > .content-cl-p{
  max-width: 500px;
  margin-bottom: 0.5rem;

}
.push {
  margin-bottom: 3rem !important;
}
.ip-bold {
  font-weight: bold;
  margin-bottom: 3rem;
}

.joinElite {
  background-color: #c79460;
  color: #f5f5f4;
  display: flex;
  flex-direction: row;

}

.content-cl {
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.joinElite p {
  color: #f5f5f4;

}

.imgBg-je {
  padding: 4rem 0;
  height: 350px;
  width: 560px;
  background-image: url('../image/jebg.jpg');
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  position: relative;
}

@media (max-width: 1140px) {
  .wrap-inner {
    margin: 2em 1em;
  }
}
@media (max-width: 640px) {
  .pathLine {
    transform: rotate(90deg);
    margin: 0 auto;
  }
  .commandFlex {
    flex-direction: column;
    padding: 4em 0;
  }
  .commandStep, .deliverStep, .installStep {
    padding: 4rem 0;
  }

  .btnPrim {
    padding: 15px 1em;
  }

  .coverGroup {
    margin: 0 1em;
    padding: 0;
    align-items: center;
  }
  .joinElite {
    align-items: center;
    
  }
  .content-cl {
    align-items: center;
  }
  h1, h2, h3, p, a, .bestElement-content {
    text-align: center;
  }

  .imgBg-je {
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }



  .f-link, footer {
    flex-direction: column !important;
    text-align: center !important;
    align-content: center !important;
    align-items: center !important;
  }
  .f-concept, .f-contact {
    margin: 2em 0 !important;
  }
}


footer { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em 4em; 
  background-color: #272727;
  align-items: center;

}
footer > a > svg {
  width: 100px;
  height: auto;
  margin: 0 3rem;
}

.f-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}

.f-concept, .f-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 3em 0 0;
}

.f-contact p {
  margin: 0 !important;
  color: #f5f5f4;
}

.f-rs-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer h6, footer p {
  font-size: .8em;
}
footer h6 {
  color: #f5f5f4;
  margin: 1em 0;
}

footer a {
  color: #f5f5f4;
  cursor: pointer;
}