@font-face {
  font-family: Brother;
  src: url('fonts/TipoType_Brother-1816-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: Brother;
  src: url('fonts/TipoType_Brother-1816-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Butler;
  src: url('fonts/Butler_Medium.otf');
  font-weight: 600;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Brother';
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  display: none;
}
p {
  color: #181f26;
}

h1 {
  font-family: 'Butler';
  font-size: 48px;
  line-height: 1;
  margin: 0 0 2rem 0;
}

h2 {
  font-family: 'Butler';
  font-size: 24px;
  line-height: 1.2;
}

h3 {
  font-family: 'Butler';
  font-size: 20px;
}

nav {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;
  background: #f5f5f4;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > a > svg {
  width: 100px;
  height: auto;
  margin: 0 3rem;
}
nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
nav > ul > li {
  margin-right: 3em;
}

ul > li > a {
  text-decoration: none;
  color: #272727;
    border-bottom: 2px solid rgba(0,0,0,0);
    padding-bottom: 20px;
}

ul .current {
  text-decoration: none;
  color: #272727 !important;
  border-bottom: 2px solid #c79460;
  padding-bottom: 20px;
}

nav > ul > li:nth-child(-n+3):hover > a{
    color: #c79460;
    border-bottom: 2px solid #c79460;
    padding-bottom: 20px;
    transition: 0.5s;
}
.panierIco {
    height: 24px;
}
.panierIco > a {
    border-bottom: 2px solid rgba(0,0,0,0);
    padding-bottom: 14px !important;
}
.panierIco:hover > a {
    border-bottom: 2px solid #c79460;
    padding-bottom: 14px !important;
    transition: 0.5s;
}

.nav-active {
    color: #c79460;
    border-bottom: 2px solid #c79460;
    padding-bottom: 20px;
}

ul > li > a:visited {
  color: #272727;
}  /* visited link */

.bigNavCTA {
  background: #c79460;
  padding: 20px 4.5em;
  color: #f5f5f4 !important;
  font-weight: bold;
  margin: 0;
}

.bigNavCTA a {
  color: #f5f5f4;
}
.bigNavCTA > a:visited, .btnCTA-m > a:visited {
  color: #f5f5f4;
}

.animationleft{
  -webkit-animation-name: animationlefth1;
  -webkit-animation-duration: 1s;
  animation-name: animationlefth1;
  animation-duration: 1s;
 }
 
 /* Safari 4.0 - 8.0 */
 @-webkit-keyframes animationlefth1 {
  0%   {margin-left: -500px;}
  100% {margin-left: 0px;}
 }
 
 .animationopacity{
  -webkit-animation-name: animationopacity;
  -webkit-animation-duration: 1s;
  animation-name: animationopacity;
  animation-duration: 1s;
 }
 /* Safari 4.0 - 8.0 */
 @-webkit-keyframes animationopacity{
  0%   {opacity: 0;}
  50%   {opacity: 0;}
  100% {opacity: 1;}
 }


.coverPage {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.coverGroup {
  width: 1280px;
  margin: 0 4em;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.coverGroup a {

  padding: 12px 40px;
  background-color: #c79460;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(198, 148, 100, 0.35);
  font-size: 18px;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
}
.coverGroup a:hover {
  box-shadow: 0 1px 2px 0px rgba(198, 148, 100, 0.35);
  transform: translateY(5px);
}

.coverGroup p {
  margin-bottom: 2rem;
  max-width: 500px;
}

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;
    margin: auto;
    width :25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mousey {
    width: 4px;
    padding: 1px 7px;
    height: 30px;
    border: 2px solid black;
    border-radius: 30px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 4px;
    height: 4px;
    margin-top: 4px;
    border-radius: 5px;
    background-color: black;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(18px); opacity: 0.5;}
}

.wrap-inner {
  max-width: 1024px;
  margin: 1em auto 0 auto;
}

.commandFlex {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}
.commandPath h2{
  max-width: 525px;
}
.commandPath {
  display: flex;

  flex-direction: column;
  margin-top: 4.5em;
}

.commandFlex p {

  max-width: 290px;
}

.commandStep, .deliverStep, .installStep {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.commandStep p, .deliverStep p, .installStep p {
  margin-top: 0;
}
.icoStep { 
  width: 64px;
  height: 132px;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
}


.icoStep svg {
  width: 64px;
  height: auto;
  margin : 0 auto;
}

.pathLine {

    display: inline-block;
    width: 6em;
    height: 0;
    border-bottom: 1px solid #272727;
    margin: 4em 0;
}


.btn-cp {
  margin: 4rem auto 5rem auto;
}

.btnPrim{ 
  padding: 15px 4em;
  margin: 3rem 0;
  text-align: center;
  font-weight: bold;
  background-color: #c79460;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(198, 148, 100, 0.35);
  font-size: 18px;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
  }


.btnPrim:hover {
  box-shadow: 0 1px 2px 0px rgba(59, 44, 30, 0.35);
  transform: translateY(3px);
}

.btnPrim:active {
  background: #A37A52;
} 

.btnAlt{ 
  padding: 15px 4em;
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f4;
  color: #c79460;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  font-size: 18px;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
}

.btnAlt:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transform: translateY(3px);
  }
  

.buyList { 
  background: #f5f5f4;
  width: 100%;
  padding: 3rem 0 6rem 0;
}

.buyList h2 {
  padding-bottom: 4em;
}

.buyListTop {
  display: flex;
  flex-direction: column;
}


/* -------------------- CARD ---------------- */




.cardGroup {
  display: grid;
  grid-gap: 48px;
  grid-template-columns:
  repeat(3, 1fr);
  grid-template-rows: minmax(300px, 2fr);
  justify-items: center;
  overflow-x: scroll;
  position: relative;
  width: 100%;
 
}

.card {
  width: 300px;
  height: 320px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  overflow: hidden;
    cursor: pointer;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
}
.card img {
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  z-index: 0;
}

.card p, .card h3 {
  margin: 0;
  text-align: left !important;
}

.topCard, .botCard {

  margin: 1em 1.5em;
  z-index: 1;
}
.topCard, .topCard p {

  color: #f5f5f4;
}
.headCard {
  font-family: "Brother";
}
.card-label {
  display: inline-block;
  background: #F0563B;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  margin-top: 0.5em !important;
}

.botCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.btl-card p {

  color: #F0563B;
}

.btr-card p {
  color: #f5f5f4;
  text-align: right !important;
}
.spCard-label {
  font-size: 0.8em;
}

.inset-shadow {
  width: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  padding-bottom: 1px;
  z-index: 1;
  height: 90px;
  background: linear-gradient(to bottom, rgba(0,0,0,.7) 0%,rgba(0,0,0,0) 100%);
}
.inset-shadowb {
  width: 100%;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  padding-bottom: 1px;
  z-index: 1;
  height: 90px;
  background: linear-gradient(to top, rgba(0,0,0,.7) 0%,rgba(0,0,0,0) 100%);
}

.cardShadow-inset {
  width: 90px;
  position: absolute;
  pointer-events: none;
  left: 2em;
  padding-bottom: 1px;
  z-index: 2;
  height: 320px;
  background: linear-gradient(to right, rgba(245, 245,244,.9) 0%,rgba(245,245,244,0) 100%);
}
.cardShadow-insetEnd {
  width: 90px;
  position: absolute;
  pointer-events: none;
  right: 2em;
  padding-bottom: 1px;
  z-index: 2;
  height: 320px;
  background: linear-gradient(to left, rgba(245, 245,244,.9) 0%,rgba(245,245,244,0) 100%);
}
/* -------------------- CARD ---------------- */



.buyListBottom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 96px; 
  position: relative;
}
.bestElement-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

}
.bestElement-bg img {
  width: 100%;
}

.bestElement-topLine p, .bestElement-sndLine p {
  margin: 0;
}
.bestElement-topLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bestElement-sndLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bestElement-content h3 {
  margin: 0 0 2em 0;
}




.be-name {
  font-weight: bold;
}
.be-filters { 
  display: flex;
  flex-direction: row;
  margin:  1rem 0 1rem 0;
}
.be-label {
  text-align: center;
  font-size: 12px;
  color: #F0563B;
  padding: 0.25em 0.4em;
  border: 1px solid #F0563B;
  border-radius: 4px;
  width: 84px;
  margin-right: 1em;
}
.be-content {
  margin: 2em 0 3rem 0;
}

.idealProfile { 
  padding: 8rem 0;
  display: flex;
  flex-direction: row;
}
.idealContent {
  order : 1;
}
.anim-homepage {
  order:2;
  width: 55%;
}
.illu-hp {
  max-width: 100%;
}
.content-cl > .content-cl-p{
  max-width: 500px;
  margin-bottom: 0.5rem;

}

.content-cl h2 {
  margin-bottom: 2em;
}
.push {
  margin-bottom: 3rem !important;
}
.ip-bold {
  font-weight: bold;
  margin-bottom: 3rem;
}

.joinElite {
  background-color: #c79460;
  color: #f5f5f4;
  display: flex;
  flex-direction: row;

}

.content-cl {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}
.joinElite p {
  color: #f5f5f4;

}

.imgBg-je {
  padding: 4rem 0;
  height: 350px;
  width: 560px;
  background-image: url('../image/jebg.jpg');
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  position: relative;
}






/* MEDIA QUERIES */






@media (max-width: 1140px) {
  .wrap-inner {
    margin: 2em 2em;
  }

}
@media (max-width: 640px) {
  .pathLine {
    transform: rotate(90deg);
    margin: 0 auto;
  }
  .idealProfile {
  flex-direction: column;
  align-items: center;
  }
  .commandFlex {
    flex-direction: column;
    padding: 4em 0;
  }

  .commandPath {
    padding: 2em 0;
  }
  .commandStep, .deliverStep, .installStep {
    padding: 4rem 0;
  }

  .btnPrim {
    padding: 15px 1em;
  }

  .btn-cp {
    margin : auto;
  }

  .coverGroup {
    
    margin: 0 2em 0 2em;
    padding: 25vh 0;
    display: block;
    text-align: center;
    font-size: 16px;
  }

  .pL-mobile {
    display: none !important;
  }
  .joinElite {
    align-items: center;
    flex-direction: column;
  }
  .joinElite .content-cl {
    order: 2;
    padding: 4em 0 ;
  }
  .content-cl {
    align-items: center;
  }
  h1, h2, h3, p, a, .bestElement-content {
    text-align: center;
  }
  .bestElement-topLine, .bestElement-sndLine {
    flex-direction: column;
  }
  .bestElement-content h3 {
    margin: 2em 0;
  }
  
  .be-filters {
    justify-content: center;
  }
  .buyListBottom{
    grid-gap: 2em;
  }

   .imgBg-je {
      order: 1;
      width: 100%;
  }


  .f-link, footer {
    flex-direction: column !important;
    text-align: center !important;
    align-content: center !important;
    align-items: center !important;
  }

  .f-link {
    margin: 0 !important;
  }
  .f-concept, .f-contact {
    margin: 2em 0 !important;
  }

  .about-content {
    text-align: left !important;
  }



  .cardGroup, cardGroup-about {
    width: 100vw !important;
    left: calc(-50vw + 50%) !important;
    position: relative !important;
      grid-gap: 24px !important;
  }
  .cardShadow-inset {
    left: 0;
  }
  .cardShadow-insetEnd {
    right: 0;
  }

  .f-rs-logo svg{
    width: 36px;
    height: 36px;
    margin: 0 1em;
  }
  .aboutPage {
    margin-top: 0 !important;
  }


}


.aboutPage {
  margin-top: 4rem;
}

footer { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em 4em;
  background-color: #272727;
  align-items: center;

}
footer > a > svg {
  width: 100px;
  height: auto;
  margin: 0 3rem;
}

.f-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 3rem 0 0;
 
}

.f-concept, .f-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 3em 0 0;
}

.f-contact p {
  margin: 0 !important;
  color: #f5f5f4;
}

.f-rs-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer h6, footer p {
  font-size: .8em;
}
footer h6 {
  color: #f5f5f4;
  margin: 1em 0;
  font-weight: bold;
}

footer a {
  color: #f5f5f4;
  cursor: pointer;
  text-decoration: none;
}

.menu-mobile {
  display: none;
}

.be-avis {
  display: none;
}






/* MEDIA QUERIES */










@media (max-width: 890px){

nav {
  display: none;
}




/* BURGER MENU */ 

.logo-mobile svg {
  width: 32px;
  height: 32px;
}

.menu-mobile {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;
  height: 64px;
  background: #f5f5f4;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nl-mobile {
  position: absolute;
  display: none;
  width: 100%;
  top: 62px;
  background: #f5f5f4;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    box-shadow: 0 24px 36px 0 rgba(57, 57, 57, 0.6);
}

.active {
  display: block !important;
}

.nl-mobile li {
  padding: 1.5rem 1rem !important;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.btnCTA-m {
  background: #c79460;
  color: #f5f5f4 !important;
  font-weight: bold;
  border-bottom:none !important;
}

.btnCTA-m a{
  color: #f5f5f4;
}

.menu-mobile input {
  display: block;
  width: 28px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  pointer-events: auto;
  -webkit-touch-callout: none;

}

.bar {
  display: block;
  width: 26px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #272727;
  border-radius: 3px;
  z-index: 1; 
  transform-origin: 4px 0;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.burger span:first-child
{
  transform-origin: 0% 0%;
}

.burger span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menu-mobile input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg)  translate(-11px, -9px);
  background: #272727;
}

/*
 * But let's hide the middle one.
 */
.burger input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.burger input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(-5px, 5px)
}

}


/* ------------------------------------------ PRODUCT --------------------------------------------------*/
.wrap-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
}

.productGroup {
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(4, 1fr);

}

.productPage {
  overflow-x: hidden;
}

.cardLink {
  text-align: left;
  text-decoration: none;
}
@media (max-width: 1310px){
    .productGroup {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 960px){
    .productGroup {
        grid-template-columns: repeat(2,1fr);
    }
  .pG-contain {
    margin: 2em 2em !important;
  }
}

@media (max-width: 720px){
    .productGroup {
        grid-template-columns: repeat(1,1fr);
    }
    .innerFilters {
        padding: 0 1em !important;
    }
    .btnLoad {
      display: block !important;
    }
    .topSection-profile {
      flex-direction: column !important;
    }
    .split-profile {
      width: 100% !important;
    height: 400px!important;
    }
    .right-split {
      height: 700px !important;
    }

    .profileDesc {
      margin: 2em 3em !important;
    }
  .moreBox {
    display: none;
  }
  .moreBoxDisplay {
    display: grid !important;
  }
  .loadMoreDisplay {
    display: none !important;
  }
  .teamAbout h2 {
    text-align: left !important;
  }
}
.productHead {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productHead h1 {
    margin: 2em 0 2em 0;
}
.productFilters {
    width: 100%;
}
.innerFilters > a {
    text-decoration: none;
    color: #272727;
}

.productFilters h6 {
    font-weight: bold;
}
.innerFilters {
    width: 100%;
    padding: 0 5em;
}
 .productFilters, .innerFilters{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

 .productFilters::before {
     content: '';
     position: absolute;
     left: 0;
     height: 72px;
     width: 12px;
     background-color: #c79460;
 }

.productFilters::after {
    content: '';
    position: absolute;
    right: 0;
    height: 72px;
    width: 12px;
    background-color: #c79460;
}

.btnLoad {
  display: none;
}

.productGroup a {
  text-decoration: none;
}
.topSection-profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin: 64px 0 0 0;
}
.split-profile {
  height: 720px;
  width: 50%;
    /*position: fixed;;*/
    /*z-index: 1;*/
  /*top: 64px;*/
  overflow-x: hidden;
}

.left-split {
  left: 0;
  background-color: #c79460;
  background-position: center;
  background-size: cover;
}

.caro {
  background-image: url('../image/cc-min.jpg');
}
.theo {
  background-image: url('../image/theo-autiste-min.jpg');
}
.laura {
  background-image: url('../image/laura.jpg');
}
.bernard {
  background-image: url('../image/bernard.jpg');
}
.cecile {
   background-image: url('../image/cecile.jpg');
 }
.beatrice {
  background-image: url('../image/Beatrice-douleurs-chroniques.jpg');
}
.stephane {
  background-image: url('../image/stephane.jpg');
}

.gilles {
  background-image: url('../image/Gilles-handicap-psychique-min.jpg');
}

.sylvie {
  background-image: url('../image/sylvie.jpg');
}

.jpaveugle {
  background-image: url('../image/Jean-Pierre-aveugle-min.jpg');
}

.nicolas {
  background-image: url('../image/Nicolas-nain-min.png');
}

.lea {
  background-image: url('../image/Lea-handicap-moteur-min.png');
  position: relative;
  background-position-y: 0;
}



.right-split {
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.profileName {
  font-family: "Brother";
  font-size: 20px;
}

.profileTitle {
  font-size: 30px;
  font-family: 'Butler';
}

.divider {
  width: 129px;
  height: 2px;
  background: #272727;
  margin: 1em 0;
}

.profilePrice {
  font-size: 20px;
  color: #c79460;
  text-align: center;
}
.pPrice-min {
  font-size: 13px;
}

.profileDesc {
  margin: 2em 5em;
  text-align: center;
}

.profileCara {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
}

.profileCara h2 {
  font-family: "Brother";
  font-weight: bold;
  font-size: 24px;
}

.pCara-Title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pCara-content h6 {
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.profileGauge {
  display: flex;
  flex-direction: row;
  margin: 2em 0 ;
}

.pG-contain {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 2em 5em;
}

.profileDetails-top, .profileDetails-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-label {
    display: flex;
    flex-direction: row;
}

.profile-label p {
    margin: 0 2rem 0 0;
    padding: 0.2rem 1rem;
    border: 1px solid #c79460;
    border-radius: 6px;
    color: #c79460;
    transition: .2s ease-out;
}
.profileDetails-contain {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 2em 5em;
}
.profile-label p:hover {
    background: #c79460;
    color: #f5f5f4;
}

.avantages, .autonomie, .tips{
    max-width: 385px;
}

.workTime-profile {
    margin-bottom: 1em;
}
.autonomie-profile, .workTime-profile {
    display: flex;
    width: 385px;
    flex-direction: row;
    justify-content: space-between;
}

.subLine-autonomie {
    width: 80px;
    border-bottom: 1px solid #272727;

}

.subLine-workTime {
    width: 130px;
    border-bottom: 1px solid #272727;
}

.avisContainer {
    margin: 2em 0;
    padding: 0 2em;
    width: 800px;
    position: relative;
}

.avisContainer::before {
  content: '';
  width: 2px;
  height: 100%;
  background: #F0563B;
  position: absolute;
  left: -2em;
}

.avisName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: .8rem;
}

.avisStars {
  margin-bottom: 0.8rem;
}
.graphDesk {
  width: 100%;
}

.graphMob {
  display: none;
}

@media (max-width: 768px) {

  .avisContainer {
    max-width: 300px !important;
  }
  .profileGauge {
    flex-direction: column !important;
  }
  .profileDetails-top, .profileDetails-bot {
    flex-direction: column !important;
  }
  .profileDetails-contain{
    margin: 2em 2em !important;
  }

  .avantages p, .autonomie p, .tips p {
    text-align: left;
  }
  .subLine-autonomie, .subLine-workTime {
    display: none;
  }
  .workTime-profile, .autonomie-profile {
    width: 100% !important;
  }
  .autonomie-profile div {
    display: flex;
  }
  .avisStars {
    display: flex;
  }
  .avisContainer p, .pCara-Title h2 {
    text-align: left !important;
  }
  .pCara-Title {
    align-items: baseline;
    margin: 0 2em;
  }
  .profile-label p {
    margin: 0 1rem 0 0;
    padding: 0.2rem .5rem;
  }
  .avisContainer::before {
    display: none;
  }
  #fullpage {
    margin-right: 0;
  }
  .slide-track {
    margin-right: 0 !important;
  }
  .slick-initialized {
    overflow: hidden;
  }

  .slick-dots {
    bottom: -10px!important;
  }
  .slick-dots li button {
    display: inline-block !important;
  }
  .slick-dots li button::before{
    color: transparent !important;
  }
  .slick-dots li {
    width: 12px !important;
    height: 12px!important;
    border: 1px solid #c79460;
    border-radius: 100%;
  }

  .slick-dots .slick-active {
    width: 12px !important;
    height: 12px!important;
    background-color: #c79460;
    border-radius: 100%;
  }
  .right-split {
    background: #f5f5f4;
  }
  .graphDesk {
    display: none !important;
  }

  .graphMob {
    display: block;
  }

  .cardGroup-about {
    margin: 0 2em 3em;
  }

  .about-content h1, .about-content h2, .about-content p {
    text-align: left !important;
  }
  .about-content h1 {
    font-size: 24px;
  }
  .about-content h2 {
    font-size: 22px;
  }


}

.coverAbout {
    min-height: 100vh;
    background-image: url("../image/coffee.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

.coverGroup h2 {
    font-family: "Brother";
    font-weight: bold;
    margin: 0 0 1em 0;
}
.teamAbout {
    background: #c79460;
    display: flex;
    flex-direction: column;
}

.teamAbout h2 {
    color: #f5f5f4;
    padding: 2em 0 2em 0;
}
.cardGroup-about {
    display: grid;
    grid-gap: 48px;
    grid-template-columns:
            repeat(4, 1fr);
    grid-template-rows: minmax(300px, 2fr);
    justify-items: center;
    overflow-x: scroll;
    position: relative;
}

.card-about {
  width: 200px;
  height: 223px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card-about img {
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  z-index: 0;
}

.card-1, .card-2, .card-3, .card-4 {
  background-position: center;
  background-size: cover;
}
.card-1 {
  background-image: url('../image/christophe-tevard-min.png');
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-2 {
  background-image: url('../image/collegue-2-min.jpg');
}
.card-3 {
  background-image: url('../image/collegue-3-min.jpg');
}
.card-4 {
  background-image: url('../image/collegue-4-min.png');
}

.cardLink:hover > .card {
  transform: translateY(3px);
}
.card-1 p {
  font-size: 18px;
  font-weight: bold;
  color: #f5f5f4;
}
.cardHover {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}

.card-1 span {
  font-size: 16px;
  font-weight: normal;
}

.card-1:hover > .cardHover {
  display: flex;
}



/** Debut css pages questionnaires + rejoindre + contact + CGU + CGL + FAQ **/
.clear-floating{
  clear: both;
}
.section-questionnaires{
  width: 100%;
}
.intro-questionnaires, .formulaire-questionnaires{
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.intro-questionnaires{
  background-color: #c79460;
  float: left;
}
.formulaire-questionnaires{
  background-color: #ffffff;
  float: right;
}
.intro-questionnaires-elements{
  width: 60%;
}
.formulaire-questionnaires-elements{
  width: 72%;
}
.intro-questionnaires-elements, .formulaire-questionnaires-elements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 64px;
  text-align: center;
}
.intro-questionnaires-elements h1, .intro-questionnaires-elements p{
  color: #f5f5f4;
}
.intro-questionnaires-elements h1{
  font-family: Butler;
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
}
.intro-questionnaires-elements p{
  font-family: Brother;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.intro-questionnaires-elements .intro-questionnaires-elements-p-modifier{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.formulaire-design label, .formulaire-design p{
  font-family: Brother;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}
.formulaire-design select{
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: Brother;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  border: none;
  border-bottom: 2px solid #272727;
  cursor: pointer;
  margin-top: 35px;
}
.formulaire-design option{
  font-family: Brother;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}
.formulaire-design option:hover{
  background-color: #c79460;
  cursor: pointer;
}
.formulaire-design button, .formulaire-design input{
  border: none;
  padding: 15px 2em;
  margin-top: 53px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #c79460;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(198, 148, 100, 0.35);
  font-family: Brother;
  font-size: 16px;
  font-weight: 500;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
}
.formulaire-design button:hover {
  box-shadow: 0 1px 2px 0px rgba(59, 44, 30, 0.35);
  transform: translateY(3px);
}
.formulaire-design button:active {
  background: #A37A52;
}


.question-block{
  display : none;
}
.question-block.active{
  display: flex;
  flex-direction: column;
}
.question-block2{
  display : none;
}
.question-block2.active{
  display: flex;
  flex-direction: column;
}
.formulaire-contact-design{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
}
.formulaire-contact-design-champ{
  height: 32px;
  font-family: Brother;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  border: none;
  border-bottom: 2px solid #272727;
  cursor: pointer;
  margin-bottom: 35px;
}
.formulaire-contact-design label{
  text-align: left;
}
.formulaire-contact-design textarea{
  height: 121px;
  font-family: Brother;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  border: none;
  border: 2px solid #272727;
  cursor: pointer;
}
.formulaire-contact-design-btn{
  margin-top: 49px;
  border: none;
  padding: 15px 2em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #c79460;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(198, 148, 100, 0.35);
  font-family: Brother;
  font-size: 16px;
  font-weight: 500;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
}
.formulaire-contact-design-btn:hover {
  box-shadow: 0 1px 2px 0px rgba(59, 44, 30, 0.35);
  transform: translateY(3px);
}
.formulaire-contact-design-btn:active {
  background: #A37A52;
}
#textnonenvoyer{
  font-family: Brother;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff0000;
}
#textenvoyer{
  font-family: Brother;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c79460;
}
.formulaire-rejoindre-design{
  margin-bottom: 60px;
}
.formulaire-rejoindre-design-label{
  font-family: Brother;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}
.formulaire-rejoindre-design-input{
  width: 75%;
  margin-left: 36px;
  font-family: Brother;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
  text-align: center;
  border: none;
  cursor: pointer;
}
.formulaire-rejoindre-design-dateinput{
  width: 50%;
  margin-left: 74px;
  font-family: Brother;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
  text-align: center;
  border: none;
  cursor: pointer;
}
.formulaire-rejoindre-design-input-div{
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid black;
  height: 35px;
  width: 320px;
}
.formulaire-rejoindre-design-nextbtn{
  border:none;
  background-color: transparent;
  float: right;
  clear: both;
  width: 36px;
  height: 36px;
}
.formulaire-rejoindre-design-nextbtn:hover{
  cursor: pointer;
}
.formulaire-rejoindre-design-input-upload{
  margin-top: 35px;
}
.fileContainer{
  font-family: Brother;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #c79460;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #c79460;
}
.fileContainer:hover{
  cursor: pointer;
}
.fileContainer-div{
  margin-top: 35px;
}
.fileContainer [type=file] {
  cursor: inherit;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.formulaire-rejoindre-design-btn{
  border: none;
  padding: 15px 2em;
  margin-top: 53px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #c79460;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(198, 148, 100, 0.35);
  font-family: Brother;
  font-size: 16px;
  font-weight: 500;
  transition: 0.8s cubic-bezier(.2,.8,.2,1);
  cursor: pointer;
}
.formulaire-rejoindre-design-btn:hover {
  box-shadow: 0 1px 2px 0px rgba(59, 44, 30, 0.35);
  transform: translateY(3px);
}
.formulaire-rejoindre-design-btn:active {
  background: #A37A52;
}
.error {
  color: #FF0000;
  margin-bottom: 20px;
}
.div-design-grand-titre-h1{
  height: 83px;
  text-align: center;
  margin-top: 164px;
  margin-bottom: 24px;
  border-left: 16px solid #c79460;
  border-right: 16px solid #c79460;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-design-grand-titre-h1 h1{
  font-weight: bold;
  line-height: 1.11;
  margin: 0px;
  color: #272727;
  font-family: Butler;
  font-size: 44px;
}
.div-design-txt-p{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 82px;
}
.div-design-txt-p p{
  font-family: Brother;
}
.div-design-txt-p-black-bold-big{
  color: #272727;
  font-size: 16px;
  font-weight: bold;
}
.div-design-txt-p-black-bold-small{
  color: #272727;
  font-size: 14px;
  font-weight: bold;
}
.div-design-txt-p-black{
  color: #272727;
  font-size: 14px;
}
.div-design-txt-p-gold{
  color: #c79460;
  font-weight: bold;
  font-size: 16px;
}
.div-design-txt-p-gold-big-centrer{
  color: #c79460;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.div-design-txt-p-gold-big{
  color: #c79460;
  font-weight: bold;
  font-size: 24px;
}
.div-design-txt-p a{
  font-weight: bold;
}
.div-design-txt-p a:link {
  text-decoration: none;
}



.div-design-txt-p a:hover {
  text-decoration: underline;
  text-decoration-color: #272727;
  cursor: pointer;
}

.div-design-txt-p a:active {
  text-decoration: underline;
  text-decoration-color: #272727;
  cursor: pointer;
}
.div-design-txt-p a:visited {
  text-decoration: none;
  color: #272727;
}
#txtrejoindreform1{
  font-family: Brother;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}
#txtrejoindreform2{
  font-family: Brother;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}
.intro-FAQ{
  margin-top: 144px;
  margin-bottom: 44px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.intro-FAQ h1{
  font-family: Butler;
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
  margin: 0px;
  margin-bottom: 22px;
}
.intro-FAQ p{
  font-family: Brother;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}
.intro-FAQ a:visited{
  text-decoration: none;
  color: #272727;
}
.intro-FAQ a:link{
  text-decoration: none;
}
.intro-FAQ a{
  font-weight: bold;
}
.intro-FAQ a:hover {
  text-decoration: underline;
  text-decoration-color: #272727;
  cursor: pointer;
}
.contenu-FAQ{
  width: 80%;
  margin-left: 14%;
  margin-right: 6%;
}
.block-question-FAQ{
  margin-bottom: 80px;
}
.contenu-FAQ-p-titre{
  font-family: Brother;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c79460;
  margin-bottom: 46px;
}
.div-FAQ-question{
  display: flex;
  margin-bottom: 14px;
}
.icone-triangle-FAQ-question1,
.icone-triangle-FAQ-question2,
.icone-triangle-FAQ-question3,
.icone-triangle-FAQ-question4,
.icone-triangle-FAQ-question5,
.icone-triangle-FAQ-question6,
.icone-triangle-FAQ-question7,
.icone-triangle-FAQ-question8,
.icone-triangle-FAQ-question9,
.icone-triangle-FAQ-question10,
.icone-triangle-FAQ-question11{
  margin-left: 16px;
  margin-right: 16px;
  clear: both;
}
.icone-triangle-FAQ-question1:hover,
.icone-triangle-FAQ-question2:hover,
.icone-triangle-FAQ-question3:hover,
.icone-triangle-FAQ-question4:hover,
.icone-triangle-FAQ-question5:hover,
.icone-triangle-FAQ-question6:hover,
.icone-triangle-FAQ-question7:hover,
.icone-triangle-FAQ-question8:hover,
.icone-triangle-FAQ-question9:hover,
.icone-triangle-FAQ-question10:hover,
.icone-triangle-FAQ-question11:hover{
  cursor: pointer;
}
.icone-triangle-FAQ-question1-reponse-afficher,
.icone-triangle-FAQ-question2-reponse-afficher,
.icone-triangle-FAQ-question3-reponse-afficher,
.icone-triangle-FAQ-question4-reponse-afficher,
.icone-triangle-FAQ-question5-reponse-afficher,
.icone-triangle-FAQ-question6-reponse-afficher,
.icone-triangle-FAQ-question7-reponse-afficher,
.icone-triangle-FAQ-question8-reponse-afficher,
.icone-triangle-FAQ-question9-reponse-afficher,
.icone-triangle-FAQ-question10-reponse-afficher,
.icone-triangle-FAQ-question11-reponse-afficher {
  margin-left: 16px;
  margin-right: 16px;
  clear: both;
  transform: rotate(90deg);
}
.icone-triangle-FAQ-question1-reponse-afficher:hover,
.icone-triangle-FAQ-question2-reponse-afficher:hover,
.icone-triangle-FAQ-question3-reponse-afficher:hover,
.icone-triangle-FAQ-question4-reponse-afficher:hover,
.icone-triangle-FAQ-question5-reponse-afficher:hover,
.icone-triangle-FAQ-question6-reponse-afficher:hover,
.icone-triangle-FAQ-question7-reponse-afficher:hover,
.icone-triangle-FAQ-question8-reponse-afficher:hover,
.icone-triangle-FAQ-question9-reponse-afficher:hover,
.icone-triangle-FAQ-question10-reponse-afficher:hover,
.icone-triangle-FAQ-question11-reponse-afficher:hover{
  cursor: pointer;
}
.div-FAQ-question-p{
  font-family: Brother;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  text-align: left;
}
.div-FAQ-reponse-question1,
.div-FAQ-reponse-question2,
.div-FAQ-reponse-question3,
.div-FAQ-reponse-question4,
.div-FAQ-reponse-question5,
.div-FAQ-reponse-question6,
.div-FAQ-reponse-question7,
.div-FAQ-reponse-question8,
.div-FAQ-reponse-question9,
.div-FAQ-reponse-question10,
.div-FAQ-reponse-question11{
  background-color: #f5f5f4;
  margin-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: none;
}
.div-FAQ-reponse-p{
  font-family: Brother;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #272727;
  text-align: left;
}
.barre-progression{
  background-color: #f5f5f4;
  margin-top: 53px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  height: 8px;
}
.barre-progression-pourcentage-q1,
.barre-progression-pourcentage-q2,
.barre-progression-pourcentage-q3,
.barre-progression-pourcentage-q4,
.barre-progression-pourcentage-q5,
.barre-progression-pourcentage-q6{
  background-color: #c79460;
  height: 8px;
}
.barre-progression-pourcentage-q1{
  width: 16%;
}
.barre-progression-pourcentage-q2{
  width: 32%;
}
.barre-progression-pourcentage-q3{
  width: 50%;
}
.barre-progression-pourcentage-q4{
  width: 64%;
}
.barre-progression-pourcentage-q5{
  width: 80%;
}
.barre-progression-pourcentage-q6{
  width: 100%;
}



@media (max-width: 992px){
  .intro-questionnaires, .formulaire-questionnaires {
    width: 100%;
    float: none;
  }

  .formulaire-design select {
    width: 75%;
  }
  .formulaire-design button {
    font-size: 15px;
  }
  .formulaire-contact-design {
    width: 100%;
  }
  .div-design-grand-titre-h1{
    margin-top: 111px;
    border: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .div-design-grand-titre-h1 h1{
    font-size: 24px;
    text-align: left;
  }
  .div-design-txt-p p{
    text-align: left;
  }
  .div-design-txt-p .div-design-txt-p-gold-big-centrer{
    text-align: center;
  }
  .div-design-txt-p a{
    text-decoration: underline !important;
    text-decoration-color: #272727 !important;
  }
  .formulaire-design label{
    font-size: 18px;
  }
  input[type=text], input[type=email], input[type=submit], input[type=date], textarea{
    -webkit-appearance: none;
    border-radius: 0;
  }

  select{
    border-radius: 0;
  }
  .intro-FAQ {
    margin-top: 118px;
  }
  .contenu-FAQ {
    margin-left: auto;
    margin-right: auto;
  }
  .intro-FAQ h1{
    font-size: 24px;
    text-align: left;
    margin-bottom: 48px;
  }
  .intro-FAQ p{
    text-align: left;
  }
  .intro-FAQ a{
    text-decoration: underline;
    text-decoration-color: #272727;
  }
  .contenu-FAQ-p-titre{
    text-align: left;
    font-size: 18px;
    margin-bottom: 41px;
  }
  .barre-progression{
    width: 100%;
  }
}

@media (max-width: 640px){
  .formulaire-rejoindre-design-input-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
  }
  .fileContainer {
    width: 100%;
    font-size: small;
  }
  .formulaire-rejoindre-design-nextbtn {
    padding: 0;
  }
  .intro-questionnaires-elements h1 {
    font-size: 24px;
    text-align: left;
  }
  .intro-questionnaires-elements p {
    text-align: left;
  }
}
/** Fin css pages questionnaires + rejoindre + contact + CGU + CGL + FAQ **/